body {
    background: #efebe5;
    font-family: "Poppins", sans-serif;
    color: #4A4A4A;
}

h1,
h2,
h3 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}

a {
    color: #4A4A4A;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

a:hover,
a:focus,
a:active {
    outline: none;
    color: #8f7841;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header .name {
    font-size: .8em;
    font-weight: 500;
}

.header .logo {
    height: 28px;
    float: right;
}

.section-intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section-intro h1 {
    margin-bottom: 40px;
    font-size: 42px;
    line-height: 1.3em;
}

.section-intro h1 .greeting,
.section-intro h1 .location {
    display: block;
    font-size: 36px;
    font-style: italic;
}

.section-intro h1 .break {
    display: block;
}

.section-intro h1 .title {
    padding: 5px;
    margin-left: -5px;
    background: linear-gradient(
        to bottom,
        transparent 60%,
        rgba(198, 164, 68, 0.9) 40%
    );
}

.section-intro .connect {
    margin-bottom: 40px;
}

.section-intro .connect i {
    margin-left: 2px;
    font-size: .9em;
    transition: inherit;
}

.section-intro .connect:hover i,
.section-intro .connect:focus i,
.section-intro .connect:active i {
    margin-left: 5px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .section-intro h1 .greeting,
    .section-intro h1 .location {
        font-size: 45px;
    }

    .section-intro h1 {
        font-size: 60px;
    }

    .section-intro .connect {
        font-size: 1.1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .section-intro h1 .greeting,
    .section-intro h1 .location {
        font-size: 75px;
    }

    .section-intro h1 {
        font-size: 91px;
    }

    .section-intro h1 .greeting {
        display: inline;
    }

    .section-intro .connect {
        margin-bottom: 50px;
        font-size: 1.4em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header .name {
        font-size: 1em;
    }

    .section-intro h1 .greeting,
    .section-intro h1 .location {
        font-size: 82px;
    }

    .section-intro h1 {
        font-size: 100px;
    }
}