body {
    background: #efebe5;
    font-family: "Manrope", sans-serif;
    color: #4A4A4A;
}

h1,
h2,
h3 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header .name {
    font-size: .8em;
    font-weight: 600;
    color: #8e8e8e;
}

.header .logo {
    width: 50px;
    height: 30px;
    float: right;
}

.section-intro h1 {
    margin-top: 200px;
    font-size: 42px;
    line-height: 1.3em;
}

.section-intro h1 .greeting,
.section-intro h1 .location {
    display: block;
    font-size: 36px;
    font-style: italic;
}

.section-intro h1 .break {
    display: block;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .section-intro h1 .greeting,
    .section-intro h1 .location {
        font-size: 45px;
    }

    .section-intro h1 {
        margin-top: 210px;
        font-size: 60px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .section-intro h1 .greeting,
    .section-intro h1 .location {
        font-size: 75px;
    }

    .section-intro h1 {
        font-size: 91px;
    }

    .section-intro h1 .greeting {
        display: inline;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header .name {
        font-size: 1em;
    }

    .section-intro h1 .greeting,
    .section-intro h1 .location {
        font-size: 82px;
    }

    .section-intro h1 {
        font-size: 100px;
    }
}